{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content%}
        <!-- Three columns of text below the carousel -->
        <h3>Nos meilleurs ventes</h3>
        <p>Decouvrez les articles les plus vendus</p>
        <div class="row">
        {% for product in products %}
            <div class="col-md-2">
                {% include 'produit/single_product.html.twig' %}
            </div>
        {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Tout l’equipement moto à petits Prix !</h2>
                <p class="lead">Découvrez DiezeMarket, la première boutique en ligne d’équipement, de vêtement (blouson, veste, combinaison) et casque pour la moto, 
                Tout l’univers pour le motard à petit prix sur un catalogue de plus 30 000 références produits. Retrouvez ainsi les plus grandes marques d’équipementier moto : Alpinestars, Ixon, Shark, Arai, Shoei, Bering, Segura, Dainese, Furygan…</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/img1.jpg') }}" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">LES INCONTOURNABLES À MOTO</h2>
                <p class="lead">Casque, blouson, pantalon, gants et chaussures sont les cinq équipements incontournables de tout motard. Pour se protéger bien entendu, mais aussi pour faire face aux aléas climatiques. Vous ne savez pas comment choisir ? Cela tombe bien, on a plein de conseils à vous donner !</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/img2.jpg') }}" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Petits Motards, Grande Passion</span></h2>
                <p class="lead">L'esprit motard transcende les âges et les tailles. Même les plus petits motards embrassent cette passion avec enthousiasme. Leurs équipements, spécialement conçus pour leur taille, garantissent qu'ils partagent la même sécurité et le même style que leurs aînés. Les mini-casques, les gants et les blousons les rendent fiers de faire partie de la grande famille des motards.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/img3.jpg') }}" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

{% endblock %}